<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Material Tabs</h1>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col col-lg-8">
      <mat-tab-group class="leaderboard" dynamicHeight mat-align-tabs="center" animationDuration="0">
        <mat-tab label="Top Fundraisers">
          <ng-template matTabContent>
            <h2>Top Fundraisers</h2>
          </ng-template>          
        </mat-tab>
        <mat-tab label="Top Teams">
          <ng-template matTabContent>
            <h2>Top Teams</h2>
          </ng-template>          
        </mat-tab>
        <mat-tab label="Top Donors">
          <ng-template matTabContent>
            <h2>Top Donors</h2>
          </ng-template>          
        </mat-tab>
        <mat-tab label="Top Cities">
          <ng-template matTabContent>
            <h2>Top Cities</h2>
          </ng-template>          
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
