<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Material Tabs</h1>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col col-lg-6">
      <mat-tab-group class="leaderboard">
        <mat-tab class='leaderboard-tab' label="Top Fundraisers">
          <h2>Top Fundraisers</h2>
        </mat-tab>
        <mat-tab class='leaderboard-tab' label="Top Teams">
          <h2>Top Teams</h2>
        </mat-tab>
        <mat-tab class='leaderboard-tab' label="Top Donors">
          <h2>Top Donors</h2>
        </mat-tab>
        <mat-tab class='leaderboard-tab' label="Top Cities">
          <h2>Top Cities</h2>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
