/// Main Navigation with theme support
///
/// @author Mark Handy
/// @name Material Tabs
/// @group component
///

// required includes
@import './../../../../scss/basicBoostrapIncludes';


// variables
$tab-border-width-mobile: 1px;
$tab-border-width-desktop: 2px;
$tab-border-radius: 20px;
$tab-color: #DB3A00;

.leaderboard{
  .mat{
    &-tab-header{
      border-bottom: 0;
      &-pagination{
        min-width: 25px;
        &-chevron{
          border-color: $tab-color;
          height: 10px;
          width: 10px;
        }
        &-disabled{
          opacity: .5;
        }
        &-before{          
          justify-content: left;          
        }
        &-after{          
          justify-content: right;          
        }        
      }
    }
    &-tab-label{
      border-top: $tab-border-width-mobile solid $tab-color;
      border-bottom: $tab-border-width-mobile solid $tab-color;
      @include media-breakpoint-up(lg) {
        border-top-width: $tab-border-width-desktop;
        border-bottom-width: $tab-border-width-desktop;
      }      
      opacity: 1;
      height: unset;
      padding: 10px 10px;      
      transition: all 500ms ease-in-out;
      flex-grow: 1;      
      &:first-child{
        border-left: $tab-border-width-mobile solid $tab-color;
        @include media-breakpoint-up(lg) {
          border-left-width: $tab-border-width-desktop;
          border-top-left-radius: $tab-border-radius;
          border-bottom-left-radius: $tab-border-radius;
        }
      }
      &:last-child{
        border-right: $tab-border-width-mobile solid $tab-color;
        @include media-breakpoint-up(lg) {
          border-right-width: $tab-border-width-desktop;
          border-top-right-radius: $tab-border-radius;
          border-bottom-right-radius: $tab-border-radius;
        }
      }
      &:not(:first-child),
      &:not(:last-child){
        border-right: $tab-border-width-mobile solid $tab-color;
      }
      &-content{
        font-size: 19px;
        font-weight: 700;
        line-height: 1;
      }
      &-active,
      &-hover{
        background-color: $tab-color;
        color: #fff;
      }      
    }
    &-ink-bar{
      display: none
    }
    &-tab-body{
      margin: 20px 40px 0 40px;
      @include media-breakpoint-up(lg) {
        margin: 20px 20px 0 20px;
      }
    }
  }
}