///
/// Site Header
/// @author Mark Handy
/// @name Site Header
/// @group structure
///
/// 
/// required includes
@import './../../../scss/basicBoostrapIncludes';

header{
  background-color: $white;
  &.header{
    &-one{
      @include media-breakpoint-up(lg){
        // height: 150px;
        box-shadow: 0 -40px 0 0 lightgray inset;
      }
      [class$='collapse']{
        @include media-breakpoint-up(lg){
          height: 100%;
          width: 100%;
        }
      }
    }
  }
}