// required includes
@import '/src/scss/basicBoostrapIncludes';

.rt{
  display: table;
  border: 1px solid gray;
  border-collapse: collapse;
  &-header{
    display: table-header-group;
    border-bottom: 1px solid gray;
    font-weight: 700;
    white-space: nowrap;
  }
  &-caption{
    display: table-caption;
  }
  &-row{
    display: table-row;
    border-bottom: 1px solid gray;
    &:nth-child(2n){
      background-color: lightgray;
    }
  }
  &-cell{
    display: table-cell;
    padding: 5px;
    border-right: 1px solid grey;
    &:nth-child(1){
      max-width: 400px;
    }
    &:nth-child(2){
      display: none;
      @include media-breakpoint-up(lg) {
        display: table-cell;
      }
    }
  }
  &-footer{
    display: table-footer-group;
  }
}