// required includes
@import '/src/scss/basicBoostrapIncludes';

.rt{
  display: table;
  &-header{
    display: table-header-group;
  }
  &-caption{
    display: table-caption;
  }
  &-row{
    display: table-row;
    &:nth-child(2n){
      background-color: lightgray;
    }
  }
  &-cell{
    display: table-cell;
    padding: 5px;
  }
  &-footer{
    display: table-footer-group;
  }
}