<section>
  <div class="container">
    <div class="row">
      <div class='col-12'>
        <div class='rt'>
          <div class='rt-caption'>Table Caption</div>
          <div class='rt-header'>
            <div class='rt-cell'>Column 1</div>
            <div class='rt-cell'>Column 2</div>
            <div class='rt-cell'>Column 3</div>
            <div class='rt-cell'>Column 4</div>
          </div>          
          <div class='rt-row'>
            <div class='rt-cell'>This cell has a lot of copy.</div>
            <div class='rt-cell'></div>
            <div class='rt-cell'></div>
            <div class='rt-cell'></div>           
          </div>
          <div class='rt-row'>
            <div class='rt-cell'></div>
            <div class='rt-cell'>Cell Copy</div>
            <div class='rt-cell'></div>
            <div class='rt-cell'></div>            
          </div>
          <div class='rt-row'>
            <div class='rt-cell'></div>
            <div class='rt-cell'></div>
            <div class='rt-cell'></div>
            <div class='rt-cell'></div>            
          </div>
          <div class='rt-row'>
            <div class='rt-cell'></div>
            <div class='rt-cell'></div>
            <div class='rt-cell'></div>
            <div class='rt-cell'></div>            
          </div>
          <div class='rt-row'>
            <div class='rt-cell'></div>
            <div class='rt-cell'></div>
            <div class='rt-cell'></div>
            <div class='rt-cell'></div>            
          </div>                             
          <div class='rt-footer'>
            
          </div>                    
        </div>
      </div>
    </div>
  </div>
</section>



