/// Responsive table without using the 'table' tag.
/// 
/// @author Mark Handy
/// @name Table
/// @group Component
//// 




// required includes
@import '/src/scss/basicBoostrapIncludes';

.rt{
  display: table;
  border: 1px solid $tableBorder;
  border-collapse: collapse;
  &-header{
    display: none;
    border-bottom: 1px solid $tableBorder;    
    white-space: nowrap;
    padding: 0;
    @include media-breakpoint-up(lg) {
      display: table-header-group;
    }
  }
  &-caption{
    display: table-caption;
  }
  &-row{
    display: flex;
    flex-flow: column nowrap;
    border-bottom: 1px solid $tableBorder;
    &:nth-child(2n){
      background-color: lightgray;
    }
    @include media-breakpoint-up(lg) {
      display: table-row;
    }    
  }
  &-cell{
    display: table-cell;
    padding: $tableCellPadding;    
    &:nth-child(1){
      max-width: 400px;
    }
    @include media-breakpoint-up(lg) {
      border-right: 1px solid $tableBorder;
    }
    // remove padding from header row cells as we'll use buttons
    .rt-header &{
      padding: 0;
    }    
  }
  &-footer{
    display: table-footer-group;
  }
  // header buttons
  .btn-header{
    border: none;
    background-color: transparent;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    
    padding: 10px 5px;
    .copy{
      font-weight: 700;
    }
    .icon{
      
    }
  }
}