<section>
  <div class="container">
    <div class="row">
      <div class='col-12'>
        <div class='rt' role="table">
          <div class='rt-caption'>Table Caption</div>
          <!-- <div role="rowgroup"> -->
            <div class='rt-header' role="row">
              <div class='rt-cell' role="columnheader">Heading</div>
              <div class='rt-cell' role="columnheader">Date</div>
              <div class='rt-cell' role="columnheader">Amount</div>
              <div class='rt-cell' role="columnheader">Paid</div>
            </div>
          <!-- </div> -->
          <!-- <div role="rowgroup"> -->
            <div class='rt-row' role="row">
              <div class='rt-cell' role="rowheader">This cell has a lot of copy. Infact some say it has too much copy and it becomes harder to read.</div>
              <div class='rt-cell' role="cell">12/12/2022</div>
              <div class='rt-cell' role="cell">$256.00</div>
              <div class='rt-cell' role="cell">True</div>           
            </div>
            <div class='rt-row' role="row">
              <div class='rt-cell' role="rowheader">Row Header</div>
              <div class='rt-cell' role="cell">Cell Copy</div>
              <div class='rt-cell' role="cell"></div>
              <div class='rt-cell' role="cell"></div>            
            </div>
            <div class='rt-row' role="row">
              <div class='rt-cell' role="rowheader">Row Header</div>
              <div class='rt-cell' role="cell"></div>
              <div class='rt-cell' role="cell"></div>
              <div class='rt-cell' role="cell"></div>            
            </div>
            <div class='rt-row' role="row">
              <div class='rt-cell' role="rowheader">Row Header</div>
              <div class='rt-cell' role="cell"></div>
              <div class='rt-cell' role="cell"></div>
              <div class='rt-cell' role="cell"></div>            
            </div>
            <div class='rt-row' role="row">
              <div class='rt-cell' role="rowheader">Row Header</div>
              <div class='rt-cell' role="cell"></div>
              <div class='rt-cell' role="cell"></div>
              <div class='rt-cell' role="cell"></div>            
            </div>
          <!-- </div>                 -->
          <div class='rt-footer'>
            Table Footer
          </div>                    
        </div>
      </div>
    </div>
  </div>
</section>



