<div class="container" style="--primary: red">
  <div class="row title">
    <div class="col-12">
      <h1>Slick Carousel Leaderboard</h1>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col col-lg-8">
      <div class="leaderboard-dots"></div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col col-lg-8">
      <ngx-slick-carousel
        class="carousel"
        #slickModal="slick-carousel"
        [config]="slideConfig"
        (init)="slickInit($event)"
        (breakpoint)="breakpoint($event)"
        (afterChange)="afterChange($event)"
        (beforeChange)="beforeChange($event)"
        role="region">
        <div ngxSlickItem *ngFor="let slide of slides" class="slide" attr.data-title="{{ slide.title }}">
          <h2>{{ slide.title }}</h2>
          <app-with-thumbnail></app-with-thumbnail>
          <app-without-thumbnail></app-without-thumbnail>       
        </div>
      </ngx-slick-carousel>
    </div>
  </div>
</div>
