<div class="container">
  <div class="row title">
    <div class="col-12">
      <h1>Slick Carousel Leaderboard</h1>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col col-lg-8">
      <div class="slick-buttons">
        <button class="btn active" role="button" [class.active]="slidecount === 0" (click)="slickModal.slickGoTo(0)">Top Fundraisers</button>
        <button class="btn" role="button" [class.active]="slidecount === 1" (click)="slickModal.slickGoTo(1)">Top Teams</button>
        <button class="btn" role="button" [class.active]="slidecount === 2" (click)="slickModal.slickGoTo(2)">Top Donors</button>
        <button class="btn" role="button" [class.active]="slidecount === 3" (click)="slickModal.slickGoTo(3)">Top Cities</button>
      </div>
      <div class="leaderboard-dots"></div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col col-lg-8">
      <ngx-slick-carousel
        class="carousel"
        #slickModal="slick-carousel"
        [config]="slideConfig"
        (init)="slickInit($event)"
        (breakpoint)="breakpoint($event)"
        (afterChange)="afterChange($event)"
        (beforeChange)="beforeChange($event)"
        role="region">
        <div ngxSlickItem *ngFor="let slide of slides" class="slide">
          <h2>{{ slide.title }}</h2>
          <p><b>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</b>Aliquam scelerisque enim nec leo mollis, in placerat augue hendrerit. Nulla ornare velit vitae efficitur varius. In id ultrices risus. Duis et odio enim. Integer consectetur est non placerat volutpat. Ut pulvinar purus diam, non auctor purus tincidunt non. Praesent vitae sollicitudin dui. Ut a congue ligula. Nullam volutpat efficitur magna. Duis vitae augue metus. In laoreet tristique erat, non tincidunt dui condimentum at. Duis sollicitudin ornare elit nec tincidunt. Donec placerat luctus tortor, ornare tincidunt neque maximus at. Aenean vulputate lobortis viverra. Nam vitae consequat leo. Nulla vitae tempus nisi.</p>          
        </div>
      </ngx-slick-carousel>
    </div>
  </div>
</div>
