<h2>Scoreboard without Thumbnail</h2>
<ol class="scoreboard scoreboard-withoutThumbnail" style="--primary: #db3a00">
  <li class="item">
    <a href="#">
      <span class="nameCityAmount">
        <span class="name">First A. Lastname</span>
        <span class="city">Cumberland House</span>
        <span class="amount">$888,888</span>
      </span>
      <span class="arrow"></span>
    </a>
  </li>
  <li class="item">
    <a href="#">
      <span class="nameCityAmount">
        <span class="name">First A. Lastname</span>
        <span class="city">Cumberland House</span>
        <span class="amount">$888,888</span>
      </span>
      <span class="arrow"></span>
    </a>
  </li>
  <li class="item">
    <a href="#">
      <span class="nameCityAmount">
        <span class="name">First A. Lastname</span>
        <span class="city">Cumberland House</span>
        <span class="amount">$888,888</span>
      </span>
      <span class="arrow"></span>
    </a>
  </li>
  <li class="item">
    <a href="#">
      <span class="nameCityAmount">
        <span class="name">First A. Lastname</span>
        <span class="city">Cumberland House</span>
        <span class="amount">$888,888</span>
      </span>
      <span class="arrow"></span>
    </a>
  </li>      
</ol>
