/// Scoreboard with thumbnail
///
/// @author Mark Handy
/// @name Scoreboard without thumbnail
/// @group component
///

// required includes
@import "./../../../../scss/basicBoostrapIncludes";


.scoreboard {
  &-withoutThumbnail{
    .item{
      a{
        .counter{
          margin: 0 15px 0 0;
          @include media-breakpoint-up(md){
            margin: 0 25px;
          }
        }
        .nameCityAmount{
          display: flex;
          
          .name{}
          .amount{}
        }        
      }
      &:first-child{
        a{
          .counter{            
            @include media-breakpoint-up(md){
              font-size: 25px;
              font-weight: 700;
              margin: 0 20px 0 15px;
            }            
          }
          .nameCityAmount{
            .name{              
              font-weight: 700;
              @include media-breakpoint-up(md){
                font-size: 25px;
              }
            }
          }
        }
      }
    }

  }
}