/// Main Navigation with theme support
///
/// @author Mark Handy
/// @name Main Navigation - Header One
/// @group component
///

// required includes
@import './../../../scss/basicBoostrapIncludes';

.header-four {

  .navbar {
    padding: 0;
    &-brand{
      align-self: flex-start;
    }
    &-nav {
      &.primary {
        @include media-breakpoint-up(lg) {
          margin-top: 150px;             
          flex-grow: 1;
          justify-content: center;
        }
      }

      &.secondary {
        align-self: flex-start;
        margin: 10px 0 0;
        .nav {
          &-link {
            @include media-breakpoint-up(lg) {
              background-color: $blue;
              color: $white;
              border-radius: 10px;
              margin-left: 1px;
              padding-left: 10px;
              padding-right: 10px;
            }
          }
        }
      }
    }
  }
}