<nav
  class="navbar navbar-expand-lg navbar-light p-0"
  ngClass="{{ theme }}"
  role="navigation"
>
  <a routerLink="" reouterLinkActive="active" class="navbar-brand">Home</a>

  <button
    class="navbar-toggler"
    type="button"
    data-bs-target="#mainNav"
    data-bs-toggle="collapse"
    aria-controls="mainNav"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div id="mainNav" class="collapse navbar-collapse">
    <ul class="navbar-nav primary">
      <li class="nav-item dropdown">
        <a
          href="#"
          class="nav-link dropdown-toggle"
          id="navDropDownOne"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <span class="nav-link--label">Dropdown Example</span>
        </a>
        <ul class="dropdown-menu" aria-labelledby="navDropDownOne">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">This Is The Third Action</a></li>
        </ul>
      </li>
      <li class="nav-item">
        <a
          routerLink="basic-accordion"
          routerLinkActive="active"
          aria-current="page"
          class="nav-link"
        >
          <span class="nav-link--label">Basic Accordion</span>
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="response-table" routerLinkActive="active" class="nav-link">
          <span class="nav-link--label">Responsive Table</span>
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="material-tabs" routerLinkActive="active" class="nav-link">
          <span class="nav-link--label">Material Tabs</span>
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="slick-carousel" routerLinkActive="active" class="nav-link">
          <span class="nav-link--label">Slick Carousel</span>
        </a>
      </li>            
    </ul>

    <ul class="navbar-nav secondary">
      <li class="nav-item">
        <a href="#" class="nav-link">
          <span class="nav-link--label">Donate</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">
          <span class="nav-link--label">Register</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">
          <span class="nav-link--label">Login</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
