/// Main Navigation with theme support
///
/// @author Mark Handy
/// @name Main Navigation - Header One
/// @group component
///

// required includes
@import './../../../scss/basicBoostrapIncludes';

.header-four {
  .navbar {
    padding: 0;
    &-expanded-lg{
      @include media-breakpoint-up(md) {
        flex-flow: column wrap;
        justify-content: center;
      }
    }
    &-brand{
      @include media-breakpoint-up(lg) {
        align-self: center;
        margin: 0;
        padding: 0;
      }
    }
    &-nav {
      &.primary {
        @include media-breakpoint-up(lg) {

        }
      }

      &.secondary {

        .nav {
          &-link {
            @include media-breakpoint-up(lg) {
              background-color: $blue;
              color: $white;
              border-radius: 10px;
              margin-left: 1px;
              padding-left: 10px;
              padding-right: 10px;
            }
          }
        }
      }
    }
  }
}