/// Main Navigation with theme support
///
/// @author Mark Handy
/// @name Main Navigation
/// @group component
///

// required includes
@import '/src/scss/bootstrapOverrides';

.navbar-nav{
  .secondary{
    .nav{
      &-link{
        background-color: $blue;
        color: $white;
        border-radius: 10px;
        margin-left: 1px;
      }
    }
  }
}