/// Base scoreboard
///
/// @author Mark Handy
/// @name Base scoreboards
/// @group component
///

// required includes
@import "./../../../../scss/basicBoostrapIncludes";

$primary: var(--primary);


.scoreboard {
  list-style: none;
  margin: 0;
  padding: 0;
  counter-reset: list-number;
  

  .item {
    counter-increment: list-number;
    transition: all 200ms ease-in-out;
    &:nth-of-type(odd) {
      background-color: $rowBGColour;
    }
    a {
      display: flex;
      flex-flow: row nowrap;
      text-decoration: none;
      justify-content: space-between;
      position: relative;
      align-items: center;
      padding: 10px;
      color: var(--primary);
      &:hover {
        text-decoration: none;
      }
      &:before {
        position: absolute;
        content: counter(list-number);
        background-color: $white;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 15px;
        left: 5px;
      }
      .name{
        flex-grow: 1;
      }
      .amount{
        
      }
      .chevron{
        display: block;
        width: 10px;
        height: 10px;
        border-top: 0;
        border-left: 0;
        border-right: 2px solid;
        border-bottom: 2px solid;
        border-color: $primary;
        transform: rotate(-45deg);
      }
    }
  }
}