/// Base scoreboard
///
/// @author Mark Handy
/// @name Base scoreboards
/// @group component
///

// required includes
@import "./../../../../scss/basicBoostrapIncludes";

$primary: var(--primary);

.scoreboard {
  list-style: none;
  margin: 0;
  padding: 0;
  counter-reset: list-number;

  .item {
    counter-increment: list-number;
    transition: all 200ms ease-in-out;
    &:nth-of-type(even) {
      background-color: #f7f7f7;
    }
    @include media-breakpoint-up(md) {
      &:nth-of-type(odd) {
        background-color: #f7f7f7;
      }
      &:nth-of-type(even) {
        background-color: transparent;
      }
    }
    a {
      display: flex;
      flex-flow: row nowrap;
      text-decoration: none;
      position: relative;
      align-items: center;
      padding: 10px;
      color: #2b3a53;
      &:hover {
        text-decoration: none;
      }
      .counter {
        border-radius: 50%;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        width: 20px;
        height: 20px;
        font-weight: 700;
        color: inherit;
        &:before {
          content: counter(list-number);
        }
      }

      .nameCityAmount {
        display: flex;
        flex-flow: column;
        flex-grow: 1;
        @include media-breakpoint-up(md) {
          flex-flow: row;
          align-items: center;
        }
        .name {
          font-size: 18px;
          font-weight: 700;
          line-height: 1.2;
          flex-grow: 1;
        }
        .city {
          color: #535353;
          margin-right: 30px;
          @include media-breakpoint-up(md) {
            text-align: right;
          }
        }
        .amount {
          font-size: 18px;
          font-weight: 700;
          line-height: 1;
          color: $primary;
          margin-right: 20px;
        }
      }

      .chevron {
        display: block;
        width: 10px;
        height: 10px;
        border-top: 0;
        border-left: 0;
        border-right: 2px solid;
        border-bottom: 2px solid;
        border-color: #375999;
        transform: rotate(-45deg);
      }
    }
    &:first-child {
      a {
        .counter {
          @include media-breakpoint-up(md) {
            justify-content: center;
            align-items: center;
            width: 35px;
            height: 35px;
            background-color: $white;
            display: flex;
            align-items: center;
          }
        }
      }
      &:hover {
        a {
          .counter {
            color: #2b3a53;
          }
        }
      }
    }
    &:hover {
      background-color: $primary;
      .nameCityAmount{
        .name,
        .city,
        .amount{
          color: $white;
        }
      }
      .counter {
        color: $white;
      }
    }
  }
}
