////
/// @author Mark Handy
/// 
////

/// Colour variables

/// Black
/// @type Colour
$black: #000;
/// White
/// @type Colour
$white: #fff;
/// @type Colour
$blue:  #1057A2;
/// @type Colour
$red: red;
/// @type Colour
$silver: #cdcdcd;
/// @type Colour
$grey :#767676;
/// @type Colour
$platinum: #E5E4E2;


/// Default colour for borders
/// @type Variable
$borderColour: lighten($grey, 10);
$rowBGColour: lighten($grey, 40);

/// Table Border
/// @type Variable
$tableBorder: $borderColour;