<h2>Scoreboard with Thumbnail</h2>
<ol class="scoreboard scoreboard-thumbnail">
  <li class="item">
    <a href="#">
      <img src="https://via.placeholder.com/150x150" alt="">
      <span class="name">First A. Lastname</span>
      <span class="amount">$888,888</span>
    </a>
  </li>
  <li class="item">
    <a href="#">
      <img src="https://via.placeholder.com/150x150" alt="">
      <span class="name">First A. Lastname</span>
      <span class="amount">$888,888</span>
    </a>
  </li>
  <li class="item">
    <a href="#">
      <img src="https://via.placeholder.com/150x150" alt="">
      <span class="name">First A. Lastname</span>
      <span class="amount">$888,888</span>
    </a>
  </li>      
</ol>
