<h2>Scoreboard with Thumbnail</h2>
<ol class="scoreboard scoreboard-thumbnail" style="--primary: #db3a00">
  <li class="item">
    <a href="#">
      <span class="thumbnail">
        <img src="https://via.placeholder.com/150x150" alt="" />
      </span>
      <span class="nameCityAmount">
        <span class="name">First A. Lastname</span>
        <span class="city">Owen Sound</span>
        <span class="amount">$888,888.88</span>
      </span>
      <span class="chevron"></span>
    </a>
  </li>
  <li class="item">
    <a href="#">
      <span class="thumbnail">
        <img src="https://via.placeholder.com/150x150" alt="" />
      </span>
      <span class="nameCityAmount">
        <span class="name">First A. Lastname</span>
        <span class="city">Toronto</span>
        <span class="amount">$888,888.88</span>
      </span>
      <span class="chevron"></span>
    </a>
  </li>
  <li class="item">
    <a href="#">
      <span class="thumbnail">
        <img src="https://via.placeholder.com/150x150" alt="" />
      </span>
      <span class="nameCityAmount">
        <span class="name">First A. Lastname</span>
        <span class="city">Niagara-on-the-Lake</span>
        <span class="amount">$888,888.88</span>
      </span>

      <span class="chevron"></span>
    </a>
  </li>
  <li class="item">
    <a href="#">
      <span class="thumbnail">
        <img src="https://via.placeholder.com/150x150" alt="" />
      </span>
      <span class="nameCityAmount">
        <span class="name">First A. Lastname</span>
        <span class="city">Channel-Port aux Basques</span>
        <span class="amount">$888,888.88</span>
      </span>

      <span class="chevron"></span>
    </a>
  </li>
  <li class="item">
    <a href="#">
      <span class="thumbnail">
        <img src="https://via.placeholder.com/150x150" alt="" />
      </span>
      <span class="nameCityAmount">
        <span class="name">First A. Lastname</span>
        <span class="city">Port Hawkesbury</span>
        <span class="amount">$888,888.88</span>
      </span>

      <span class="chevron"></span>
    </a>
  </li>
  <li class="item">
    <a href="#">
      <span class="thumbnail">
        <img src="https://via.placeholder.com/150x150" alt="" />
      </span>
      <span class="nameCityAmount">
        <span class="name">First A. Lastname</span>
        <span class="city">Cap-de-la-Madeleine</span>
        <span class="amount">888 888,88 $</span>
      </span>

      <span class="chevron"></span>
    </a>
  </li>
  <li class="item">
    <a href="#">
      <span class="thumbnail">
        <img src="https://via.placeholder.com/150x150" alt="" />
      </span>
      <span class="nameCityAmount">
        <span class="name">First A. Lastname</span>
        <span class="city">Cumberland House</span>
        <span class="amount">$888,888</span>
      </span>

      <span class="chevron"></span>
    </a>
  </li>
</ol>
