/* 
  Required included
*/
@import '~bootstrap/scss/bootstrap';

/*
  variables
*/
$border : #BCBCBC;
$badgeBlue: #1975d2;

.badgeModal {
  width: 90vw;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: auto;

  @include media-breakpoint-up(lg) {
    width: 60vw;
  }

  /* 
    The body holds the counter and badges
  */
  &-body {
    background-color: #E9E7E7;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
  }

  /* Badge counter */
  &-counter {
    background-color: white;
    padding: 5px 20px;
    margin: 30px 0;
    border-radius: 10%/50%;

    margin-left: 25px;
    display: table; // We use display: table as ie11 does not support fit-content
    &__count,
    &__total {
      font-weight: 700;
    }
  }

  /* Badge group */
  &-group {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
  }

  /* individual badges */
  &-card {

    align-items: center;
    border-radius: 0;
    border-right: 1px solid $border;
    background-color: transparent;
    margin-bottom: 25px;
    width: 50%;
    display: flex;
    flex-flow: column nowrap;

    &:nth-child(even) {
      border-right-color: transparent;
    }

    @include media-breakpoint-up(sm) {
      width: 33.333%;

      &:nth-child(even) {
        border-right-color: $border;
      }

      &:nth-child(3n+3) {
        border-right-color: transparent;
      }
    }

    @include media-breakpoint-up(lg) {
      width: 25%;

      &:nth-child(even),
      &:nth-child(3n+3) {
        border-right-color: $border;
      }

      &:nth-child(4n+4) {
        border-right-color: transparent;
      }

    }

    &__header {
      background: transparent;
      width: 100px;
      height: 100px;
      border: 2px solid $badgeBlue;
      border-radius: 50%;
      display: flex;

      /* Fill colours for SVGs */
      .cls-1 {         
        fill-opacity: 0;
      }
      .cls-2 {
        fill: lightgray;
      }
      .cls-3 {
        fill: lightgray;
      }
      .cls-4 {
        fill: #E9E7E7;        
        fill-opacity: 1;
      }
      svg {
        width: 100%;
      }

      &.on {
        background-color: $badgeBlue;
        /*
          svg fills
        */
        .cls-1 {
          fill: #1975d2;
          fill-opacity: 1;
        }

        .cls-2 {
          fill: #0f63c2;
        }

        .cls-3 {
          fill: #fff;
        }

        .cls-4 {
          fill: #df562a;
          fill-opacity: 1;
        }
      }

      @include media-breakpoint-up(sm) {
        width: 75px;
        height: 75px;
      }

      @include media-breakpoint-up(xl) {
        width: 100px;
        height: 100px;
      }
    }

    &__body {
      text-align: center;
      text-transform: capitalize;
      padding: 10px 0;
      width: 80%;
      font-size: 18px;
      line-height: 1.2;
      font-weight: 700;
      color: #264D58;
      min-height: 60px;
    }

  }
}